@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

#homeScreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.playSection{
    width: 30%;
    height: 100%;
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}

.howSection{
    width: 70%;
    height: 100%;
    /*background-color: #272727;*/
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*playSection styling*/

.containerPlay{
    width: 90%;
    height: 100%;
    padding: 10% 0% 10% 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.top{
    width: 100%;
    height: 30%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    justify-content: space-between;
}

.bottom{
    width: 100%;
    height: 10%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-between;
}

/*top container*/
.containerPlay h1{
    color: #E4E4E4;
    font-size: 4em;
    font-weight: bold;
}

.containerPlay span{
    color: #aaa7a7;
    font-size: 1.5em;
}

.containerPlay input[type="text"]{
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    color: #3f3f3f;
    font-size: 1.2em;
    padding:0.2em;
    width: 80%;
}

/*bottom container*/
.bottom .block{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#ldrButton{
    background-color: #0A0A0A;
    color: #E4E4E4;
    border:solid 3px #E4E4E4;
    min-width:45%;
    height:60%;
    padding:.2em;
    text-align: center;
    font-size: 1.5em;
}

#playButton{
    /*background-color: #41D5A3;*/
    background-color: rgb(0,255,255);
    color: #0A0A0A;
    /*border:solid 3px #41D5A3;*/
    border: solid 3px rgb(0,255,255);
    min-width:45%;
    height:60%;
    padding:.2em;
    text-align: center;
    line-height: normal;
    font-size: 1.5em;
    margin-right: 2%;
}

.separated{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 1em;
    color: #E4E4E4;
}



/*style za inGameScreen*/

#inGameScreen{
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
}

.game{
    width:85%;
    height: 100%;
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.score{
    width:15%;
    height: 100%;
    /*background-color: #272727;*/
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scoreContainer{
    height:40%;
    width:100%;   
}
.scoreContainer2{
    height:8%;
    width:100%;
}

#best{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:70%;
    color: #E4E4E4;
    background-color: rgb(0, 85, 255);
}

#setUsername{
padding:1em;
font-size: 2em;
}

#setBest{
    padding:1.7em;
}

#tocke{
    width: 100%;
    height: 30%;
    color: #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*PAVZA*/
#pause{
    position: absolute;
    width: 30%;
    height: 20%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    /*background-color: #272727;*/
    background-color: #000000;
    display: none;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.hpause{
    align-self: center;
    color: #E4E4E4;
    font-size: 2em;
    padding: 1em;
}

.resume{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*align-items: center;*/
}

#resumeBtn{
    background-color: #0A0A0A;
    color: #E4E4E4;
    border:solid 3px #E4E4E4;
    min-width:20%;
    height:100%;
    padding:.2em;
    text-align: center;
    font-size: 1.5em;
}

#exitBtn2{
    background-color: #0A0A0A;
    color: #E4E4E4;
    border:solid 3px #E4E4E4;
    min-width:49%;
    height:100%;
    padding:.2em;
    text-align: center;
    font-size: 1.5em;
}

#pauseBtn{
    background-color: #0A0A0A;
    color: #E4E4E4;
    border:solid 3px #E4E4E4;
    min-width:49%;
    height:100%;
    padding:.2em;
    text-align: center;
    font-size: 1.5em;
    margin-left: .5%;
}

#exitBtn{
    background-color: #0A0A0A;
    color: #E4E4E4;
    border:solid 3px #E4E4E4;
    min-width:20%;
    height:100%;
    padding:.2em;
    text-align: center;
    font-size: 1.5em;
}

/*LEADERBOARDS SCREEN*/

#leaderScreen{
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #000000/*#272727*/;
}

.ldrHeading{
    position:relative;
    width: 100%;
    height: 10%;
    background-color: #000000/*#272727*/;
    color:#E4E4E4; 
    font-size:2em;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    
}

#showLeaderboards{
    width:50%;
    min-height:90%;
    background-color: #000000/*#272727*/;
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

#backToHome{
    position: absolute;
    top:25% ;
    right:3% ;
    background-color: #0A0A0A;
    color: #E4E4E4;
    border:solid 3px #E4E4E4;
    width:10%;
    height:50%;
    padding:.2em;
    text-align: center;
    font-size: 60%;
}

.blockLeader{
    width: 90%;
    height: 7%;
    display: flex;
    flex-direction: row;
    background-color: #0A0A0A;
    color:#E4E4E4;
    /*border-radius: 10px;*/
    margin:.5%;
    justify-content: space-evenly;
    align-items: center;

}


